<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section {margin: 0% 20% ;}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
    </style>
</head>
<body>
    <header>
        <%-include("../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <h3>Tokyo</h3><br>
            <img src=""><br><br>
            <p>일본 > 홋카이도 > 삿포로<br>
                언어 : 일본어<br>
                기온<br>
                환율<br>
                7~8월 추천<br>
                항공 2시간 30분<br>
            </p>
            <table>
                <tr>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                </tr>
                <tr>
                    <td><a href="#">신주쿠 워싱턴 호텔 도쿄 메인</a></td>
                    <td><a href="#">더 스퀘어 호텔 긴자</a></td>
                    <td><a href="#">더 프린스 파크 타워 도쿄</a></td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                </tr>
                <tr>
                    <td><a href="#">맛집 1</a></td>
                    <td><a href="#">맛집 2</a></td>
                    <td><a href="#">맛집 3</a></td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                </tr>
                <tr>
                    <td><a href="#">상점 1</a></td>
                    <td><a href="#">상점 2</a></td>
                    <td><a href="#">상점 3</a></td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                    <td><img src="#"></td>
                </tr>
                <tr>
                    <td><a href="#">관광지 1</a></td>
                    <td><a href="#">관광지 2</a></td>
                    <td><a href="#">관광지 3</a></td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>