<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
<<<<<<< HEAD
      img {width: 100%; height: auto;}
      section {margin: 0% 20% ;padding: 1%;}
=======

      #wrap { display: flex; width: 100%; height: 100%; margin: auto;}
      #wrap>#banner {margin-left: 60px; width: 70%; height: 50%;}

      img {width: 500px; height: 300px;}
      section {margin: 0% 20% ;padding: 5% 10%;}

>>>>>>> moonsm
    </style>
    
</head>
<body>
    <%-include("default/header.ejs")%>

  </header>

  <section>
<<<<<<< HEAD
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="배너01.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="배너02.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="배너03.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="배너04.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="배너05.jpg" class="d-block w-100" alt="...">
        </div>
=======
    <div id="wowslider-container1">
      <div class="ws_images">
        <ul>
          
        </ul>

>>>>>>> moonsm
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <%-include("default/footer.ejs")%>
<<<<<<< HEAD

=======
  
>>>>>>> moonsm
</body>
</html>