<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>

      #wrap { display: flex; width: 100%; height: 100%; margin: auto;}
      #wrap>#banner {margin-left: 60px; width: 70%; height: 50%;}

      img {width: 500px; height: 300px;}
      section {margin: 0% 20% ;padding: 5% 10%;}

    </style>
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
</head>
<body>
    <%-include("default/header.ejs")%>

  </header>

  <section>
    <div id="wowslider-container1">
      <div class="ws_images">
        <ul>
          
        </ul>

      </div>
        <div class="ws_script" style="position:absolute;left:-99%"></div>
      <div class="ws_shadow"></div>
    </div>	
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
  </section>
  <%-include("default/footer.ejs")%>
  
</body>
</html>