<%console.log(username)%>
<!DOCTYPE html>
<html lang="en">

<body>

    <%-include("default/header.ejs")%>
  <div id="wrap">
    <div id="banner">
      <fieldset>메인</fieldset>
    </div>
    <div id="test">
      <fieldset>
        <a href="/worldcup/1">여행지 월드컵</a>
      </fieldset> 
    </div>
  </div>

 <%-include("default/footer.ejs")%>

</body>
</html>