<script>
    registerResult = () => {
        msg = `<fieldset><%-include('./registerForm.ejs')%></fieldset>`;
        document.querySelector("#mainDiv").innerHTML = msg;
    }
</script>
<fieldset id="loginField">
    <% if(username) {%>
            <%=username%>님<br> 어서오세요.<br>
            <button><a href="/project/logout">로그아웃</a></button>
        
    <% }else { %>
        <form action="/project/login" method="post">
        <input type="text" name="id" placeholder="input id"><br>
        <input type="password" name="pwd" placeholder="input password"><br>
        <input type="submit" value="로그인">
        </form>
        <button onclick="registerResult()">회원가입</button>
    <% } %>
</fieldset>