<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        list = () => {
            msg = `<fieldset><%-include('./list_view.ejs')%></fieldset>`;
            document.querySelector("#mainDiv").innerHTML = msg;
        }
    </script>
    
    <style>
        button a {text-decoration: none; color: black;}
        fieldset {border-radius: 10px; }
        #loginField {width: 130px;}
        li {list-style-type: none; font-size: 15px; padding-left: 5px;}
        #main { text-align: center; }
        #wrap { display: flex; width: 1000px; height: 100%; margin: auto;}
        #mainDiv {margin-left: 40px; width: 700px;}
        #contentDiv { background: green; margin-left: 40px; width: 200px;}
        nav a {text-decoration: none; color: black;}
        #nn {text-align: center;}
        nav label {padding: 0 100px 0 100px;}
    </style>

</head>
<body>
    <h1 id="main">메인 페이지</h1>
    <hr>
    <header>
        <nav id="nn">
            <label>asd</label>
            <label>asdf</label>
            <label>asssss</label>
            <label>asdsd</label>
        </nav> 
    </header>
    
    <hr>
    <div id="wrap">
        
        <div id="loginform">
            <%-include("./login.ejs")%>
            <br>

            <nav id="nav">
                <fieldset>
                    회원정보
                        <li><a href="/project/list_view">정보관리</a></li>
                        <li></li>
                        <li></li>
                    <a href="#">게시판</a><br>
                        <li>자유게시판</li>
                        <li></li>
                        <li></li>
                    <a href="#">컨텐츠</a><br>
                        <li>m</li>
                        <li></li>
                        <li></li>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                </fieldset>
            </nav>
        </div>

        <div id="mainDiv">
            <fieldset>메인</fieldset>

        </div>

        <div id="contentDiv">
           <fieldset>
            컨텐츠 바로가기
        </fieldset> 
        </div>
    </div>
    
    <footer>
        <hr>
        안녕하세용
    </footer>
</body>
</html>