
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        fieldset {border-radius: 10px;}
        li {list-style-type: none; font-size: 15px; padding-left: 1px; text-align: left;}
        #main { text-align: center; }
        #wrap { display: flex; width: 1000px; height: 100%; margin: auto;}
        #wrap div:nth-child(2) { background: blue; margin-left: 60px; width: 700px;}
        #wrap div:nth-child(3) { background: green; margin-left: 40px; width: 200px;}
        nav a {text-decoration: none; color: black;}
        #nn {text-align: center; }
        nav label {padding: 0 100px 0 100px; }
        
        #li01{ display: flex; flex-flow: row wrap; 
            text-align: center; justify-content: space-around; }
        .dropdown{
            position : relative;
            display : inline-block;
        }
        .dropdown-content{
            display : none;
            position : absolute;
            z-index : 1; 
        }

        .dropdown-content a{
            display : block;
            flex-flow: row wrap; 
            width: 100px; height: 50px; 
            margin: auto;
        }
        .dropdown:hover .dropdown-content {
            display: block; 
        }
        .Slidesbackground {
        margin: 0;
        padding: 0;

        }
        .slideshow-image{
        border-radius:3%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        }
        .mySlides {
        border-radius:3%;
        width: 600px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
        }

        .slideshow-container {
        display: flex;
        justify-content: center;
        position: relative;
        margin: auto;
        }

        .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        }

        @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
        }
    </style>
    <script>
         var bDisplay01 = true; function doDisplay01(){ 	
            con = document.getElementById("myDIV01"); 	
            if(con.style.display=='none'){ 		
                con.style.display = 'block'; 	
            }else{ 		
                con.style.display = 'none'; 	
            } 
            
        } 
        var bDisplay02 = true; function doDisplay02(){ 	
            con = document.getElementById("myDIV02"); 	
            if(con.style.display=='none'){ 		
                con.style.display = 'block'; 	
            }else{ 		
                con.style.display = 'none'; 	
            } 
            
        }
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
       
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            slides[slideIndex - 1].style.display = "block";
    
            setTimeout(showSlides, 2000); 
        } 
    </script>
</head>
<body>
    
    <hr>
    <header>
        <nav id="li01">
            <ul> 
                <li class="dropdown"><span class="dropbtn">
                    <a href="#">국내패키지</a>
                    </span>
                    <div class="dropdown-content">
                        <dl><dt>국내패키지</dt>
                            <dd>
                                <p><a href="">전주</a></p>
                                <p><a href="">대구</a></p>
                                <p><a href="">부산</a></p>
                                <p><a href="">대전</a></p>
                            </dd>
                        </dl>
                    </div>

                </li>
                

            </ul>
            <ul> 
                <li class="dropdown">
                    <span class="dropbtn">
                        <a href="#">해외패키지</a>
                </span>
                    <div class="dropdown-content">
                        <dl><dt>해외패키지</dt>
                            <dd>
                                <p><a href="">일본</a></p>
                                <p><a href="">유럽</a></p>
                                <p><a href="">중국</a></p>
                                <p><a href="">동아시아</a></p>
                            </dd>
                        </dl>
                    </div>

                </li>
                

            </ul>
            <ul> 
                <li class="dropdown">
                    <span class="dropbtn">
                        <a href="#">항공</a>
                    </span>
                    <div class="dropdown-content">
                        <dl><dt>국내</dt>
                            <dd>
                                <p><a href="">제주도</a></p>
                                <p><a href="">부산</a></p>
                                <p><a href="">서울</a></p>
                                <p><a href="">인천</a></p>
                            </dd>
                        </dl>
                        <dl><dt>해외</dt>
                            <dd>
                                <p><a href="">일본</a></p>
                                <p><a href="">유럽</a></p>
                                <p><a href="">중국</a></p>
                                <p><a href="">동아시아</a></p>
                            </dd>
                        </dl>
                        
                    </div>

                </li>
                

            </ul>
            <ul> 
                <li class="dropdown">
                    <span class="dropbtn">
                        <a href="#">호텔</a>
                    </span>
                    <div class="dropdown-content">
                        <dl><dt>국내</dt>
                            <dd>
                                <p><a href="">제주도</a></p>
                                <p><a href="">부산</a></p>
                                <p><a href="">서울</a></p>
                                <p><a href="">인천</a></p>
                            </dd>
                        </dl>
                        <dl><dt>해외</dt>
                            <dd>
                                <p><a href="">일본</a></p>
                                <p><a href="">유럽</a></p>
                                <p><a href="">중국</a></p>
                                <p><a href="">동아시아</a></p>
                            </dd>
                        </dl>
                        
                    </div>

                </li>
                

            </ul>
        </nav> 
    </header>
    
    <hr>
    <div id="wrap">
        
        <div id="loginform">
            <%-include("./login.ejs")%>
            <br>
            
            <nav id="nav">
                <fieldset>
                    <li><a href="javascript:doDisplay01();">회원정보</a><br>
                        <div id="myDIV01" style="display: none; background-color: white">
                    
                    <ul><li>정보관리</li>
                    <li>정보수정</li>
                <li>정보확인</li></ul></div>
                        
                        </li>
                    <li>
                        <a href="javascript:doDisplay02();">게시판</a><br>
                        <div id="myDIV02" style="display: none; background-color: white">
                        <ul>
                            <li>자유게시판</li>
                            <li>체험게시판</li>
                            <li>후기 게시판</li>
                        </ul>
                    </div>
                    </li>
                        
                    <li><a href="#">컨텐츠</a><br></li>
                    <a href="/boardList">게시판</a><br>
                        <li>후기게시판</li>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                    <a href="#">자유 게시판</a><br>
                </fieldset>
            </nav>
        </div>

        <div>
            <fieldset>메인</fieldset>

        </div>

        <div>
            <fieldset>
                <a href="/worldcup/1">여행지 월드컵</a>
            </fieldset> 
        </div>
    </div>
    
    <footer>
        <hr>
        안녕하세용
    </footer>
</body>
</html>