<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <form onclick=""><!-- 나라 링크-->
            결과<br>
            1번, 3번, 6번 선택
        <img src="#"><!-- 나라 링크-->
        입니다
    </form>
    <%-include("../default/footer.ejs")%>
</body>
</html>
