<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>근거리에서 도시를 선택하셨고, 식도락을 고르셨습니다.<br><br></h3>
        </p>
        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">대구<br></p>
            <a href="/country/korea/daegu"><img src="/country/korea/image/<%=files[25]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>경상도의 중심부, 인구가 밀집된 시가지는 산으로 둘러싸인 대구분지 안에 있어서 날씨가 더운 편이다.<br>
            유명한 부산이나 제주같은 곳보다는 인지도가 떨어지지만 매력적인 관광자원이 꽤나 있는 곳이다.<br>
            당일치기로 가볍게 다녀오기 편한 곳이다.<br>
            특이한 먹을거리가 상당히 풍부하기 때문에 식도락여행하기 매우 좋은 곳이다.<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
