<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section {margin: 0% 20% ;padding: 3%;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            결과<br>
            장거리에서 도시를 선택하셨고, 식도락을 고르셨습니다.<br>
            2번, 4번, 8번 선택<br>
        </p>
        <form onclick=""><!-- 나라 링크-->
            <img src=/worldcup/start/<%= nlist[0].N_ID %>"><img src="/worldcup/image/<%=files[0]%>"><br><!-- 나라 링크-->
            입니다
        </form>
        <p>
            입니다
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
