<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>장거리에서 도시를 선택하셨고, 식도락을 고르셨습니다.<br><br></h3>
        </p>
        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">오사카<br></p>
            <a href="/country/japan/osaka"><img src="/country/japan/image/<%=files[13]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>일본 혼슈 중서부에 위치한 일본 제2의 도시로 간사이의 중심지이며 가장 오래된 도시 중 하나이다.<br>
            국제무역항, 국제공항, 철도 등 교통이 편리하고 무역이 발달하였다.<br>
            "오사카는 먹다가 망한다"라는 말이 있을 정도로 미식문화가 발달해 있고,<br>
            타코야끼, 오코노미야끼는 오사카에서 유래한 음식이다.<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
