<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>근거리에서 자연을 선택하셨고, 바다를 고르셨습니다.<br><br></h3>
        </p>
        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">부산<br></p>
            <a href="/country/korea/busan"><img src="/country/korea/image/<%=files[60]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>대한민국의 제2의 도시이자 최대의 해양 도시이며,<br> 부산항을 중심으로 해상 무역과 물류 산업이 발달한 곳이다.<br>
            기본적으로 유명한 해운대가 존재하고있고 언제나 사람들이 붐비는 곳이다.<br> 
            부산바다에서는 해양스포츠가 많이 활성화되어있다.<br>
            예시로는 윈드서핑, 바디보드, 요트는 기본으로 스쿠버다이빙, 제트스키, 웨이크보드 등을 즐길 수 있다.<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
