<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>장거리에서 자연을 선택하셨고, 산을 고르셨습니다.<br><br></h3>
        </p>

        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">스위스<br></p>
            <a href="/country/europe/swiss"><img src="/country/europe/image/<%=files[39]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>스위스는 동서남북 4방면이 모두 육지이고 산이 많은 지형이라, 바다는 보기 힘들지만<br> 대신 큰 호수가 많이 있다.
            고산지대가 많아 산악 철도경험을 할 수 있다. <br>
            여름에만 한시적으로 열리는 알프스 자동차 길을 이용하여 알프스 경치를 즐기면서 운전을 할 수도 있다.<br>
            비교적 온난한 편이지만, 일부 고도가 높은 지역은 온대 고산기후를 띠기도 한다.<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
