<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>장거리에서 자연을 선택하셨고, 바다를 고르셨습니다.<br><br></h3>
        </p>
        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">이탈리아<br></p>
            <a href="/country/europe/italy"><img src="/country/europe/image/<%=files[13]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>정말 유명한 관광대국이다. 르네상스의 중심지답게 아름다운 건축물을 많이 볼 수 있다.<br>
            건축물 뿐만 아니라 나폴리 근교의 아름다운 해변 등 수려한 자연경관도 많이 볼 수 있다.<br>
            바다쪽을 구경하고 싶다면 개인적으로 몰타를 추천한다.<br>
            이탈리아의 작은섬으로 휴양지로서 유명한 장소이다. 휴양을 즐기러 온 유럽사람들도 많다.<br>
            특히, BTS의 본보야지 촬영지이므로 BTS팬이라면 성지순례도 할 수 있다.
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
