<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%;}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h3>결과</h3><br>
            근거리에서 도시를 선택하셨고, 식도락을 고르셨습니다.<br><br>
        </p>
        <div class="info">
            <h1>대구<br></h1>
            <a href="/country/korea/daegu"><img src="/country/korea/image/<%=files[25]%>"></a><br><!-- 나라 링크-->
        </div>
        <p>
            <br><br>...<br>
            ...<br>
            ...<br>
            ...<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
