<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section {margin: 0% 20% ;padding: 3%;}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h3>결과</h3><br>
            장거리에서 자연을 선택하셨고, 산을 고르셨습니다.<br><br>
        </p>
        <div class="info">
            <h1>오사카<br></h1><!--수정-->
            <a href="/country/japan/osaka"><img src="/country/japan/image/<%=files[13]%>"></a><br><!-- 나라 링크-->
        </div>
        <p>
            <br><br>...<br>
            ...<br>
            ...<br>
            ...<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
