<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>장거리에서 도시를 선택하셨고, 관광을 고르셨습니다.<br><br></h3>
        </p>
        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">마카오<br></p>
            <a href="/country/china/macau"><img src="/country/china/image/<%=files[13]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>중국 동부 해안에 위치한 특별자치구로 유네스코 세계문화유산으로 지정되었다.<br>
            마카오 반도, 타이파 섬 그리고 꼴로안 섬으로 이루어져 있으며 수백 년 전부터 포르투갈인들이 지어온 남유럽풍 고건축과 <br>
            문화가 남아있어 이색적인 분위기를 간직하고 있어 여러모로 관광객들을 끌어들여 관광 산업이 발달해 있다.<br>
            상당히 작은 면적과 인구를 가진 지역이지만 세계 최대의 카지노 도시로 유명하다.<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
