<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>근거리에서 도시를 선택하셨고, 관광을 고르셨습니다.<br><br></h3>
        </p>
        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">서울<br></p>
            <a href="/country/korea/seoul"><img src="/country/korea/image/<%=files[0]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br>대한민국의 수도인 서울은 현대적인 고층 빌딩,<br> 첨단 기술의 지하철, 
            대중문화와 사찰, 고궁, 노점상이 공존하는 대도시<br>
            대부분의 인기 관광지는 종로구,중구에 집중되어 있다.<br>
            도심에서 조금 나오면 유명한 남산타워, 홍대거리 등을 즐길 수 있다.<br>
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
