<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20% ;padding: 3%; font-family: 'omyu_pretty';}
        div .info{text-align: center;}
        img {width: 450px; height: 450px;}
    </style>
</head>
<body>
    <%-include("../default/header.ejs")%>
    <section>
        <p>
            <h1>결과</h1><br>
            <h3>근거리에서 자연을 선택하셨고, 산을 고르셨습니다.<br><br></h3>
        </p>

        <div class="info" style="text-align: center;">
            <p style="font-size: 60px; text-align: center;">강릉<br></p>
            <a href="/country/korea/gangneung"><img src="/country/korea/image/<%=files[13]%>"></a><br>
        </div>
        <p style="font-size: 18px;">
            <br><br>강원특별자치도 동해안 중부에 있는 시로,<br> 서울과 비슷한 위도에 위치한 영동 지방 최대 도시이다.<br>
            2018년 평창올림픽 때 빙상경기가 모두 진행된 장소이며 올림픽 이후로 매년 관광객으로 도시가 붐비고 있다.<br>
            특히 강릉의 괘방산은 동해 해맞이 산행지로 유명한 곳이다.<br>
            바다를 보면서 산을 오를 수있는 힐링 산행길이라고도 불린다.
        </p>
    </section>
    <%-include("../default/footer.ejs")%>
</body>
</html>
