<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="/worldcup/1/<%= nlist[0].NUM1 %>"><img src="../../image/오로라.jpeg"></a>
<a href="/worldcup/1/<%= nlist[4].NUM1 %>"><img src="../../image/오로라.jpeg"></a>
 
근거리/장거리
</body>
</html>
