<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section {margin: 0% 20% ;padding: 5% 20%;}
    </style>
</head>
<body>
    <header>
        <%-include("../default/header.ejs")%>
    </header>
    <section>
        <a href="/worldcup/4/<%= nlist[2].NUM3 %>"><img src="../../image/오로라.jpeg"></a>
        <a href="/worldcup/4/<%= nlist[3].NUM3 %>"><img src="../../image/오로라.jpeg"></a><br>
        관광/식도락
    </section>
</body>
</html>
