<style>
    fieldset {border-radius: 10px;}
</style>
<fieldset>
    <legend style="text-align: center;">비밀번호 변경</legend>
    <form action="/member/chgPwd" method="post">
        <div>
            <div style="display: inline-block; margin-left: 15%;">
                <table>
                    <tr><td>아이디</td></td></tr>
                    <tr><td>비밀번호</td><td></td></tr>
                </table>
            </div>
            <div style="display: inline-block; margin-left: 30px;">
                <table>
                    <tr><td><label><%=list.ID%></label></td></tr>
                    <tr><td><input type="password" name="pwd"></td></tr>
                </table>
            </div>
        </div>
        <div style="float: right; margin-right: 50px;">
            <input style="border-radius: 5px;" type="submit" value="변경하기">
        </div>
    </form>
</fieldset>