<% console.log(list) %>

<script>
    sizeUp = () => {
        window.resizeTo(450, 300);
    }
</script>
<style>
    h2 {text-align: center;}
    font {font-size: 13px; color: red; text-align: right; display: block;}
    fieldset {border-radius: 10px;}
    div {font-size: 25px; text-align: center;}
    div a {text-decoration-line: none; color: black;}
</style>

<h2>ID List</h2>
<font>* 아이디를 클릭하면 비밀번호를 변경할 수 있습니다.</font>

<fieldset>
    <div>
        <% for(var i =0; i < list.length; i++) { %>
            <p>
                <a href="/member/chgPwdForm/<%= list[i].ID %>" onclick="sizeUp()"><%= list[i].ID %></a>
                <hr>
            </p>
            
        <% } %>
    </div>
</fieldset>