<% console.log(list) %>
<script>
    sizeUp = () => {
        window.resizeTo(450, 300);
    }
    resize = () => {
        window.resizeTo(418, 330);
    }
</script>

<style>
    h2 {text-align: center;}
    font {font-size: 13px; color: red; text-align: right; display: block;}
    fieldset {border-radius: 10px;}
    #fir {font-size: 25px; text-align: center;}
    #fir a {text-decoration-line: none; color: black;}
    #sec {text-align: center; font-size: 18px;}
    #sec a {color: black;}
</style>

<h2>ID List</h2>
<%if(list.length != 0) {%>
    <font>* 아이디를 클릭하면 비밀번호를 변경할 수 있습니다.</font>
    <fieldset>
        <div id = "fir">
            <% for(var i =0; i < list.length; i++) { %>
                <p>
                    <a href="/member/chgPwdForm/<%= list[i].ID %>" onclick="sizeUp()"><%= list[i].ID %></a>
                    <hr>
                </p>
                
            <% } %>
        </div>   
    </fieldset>
    <div id = "sec">
        <a href="#top">위로 가기</a>
    </div>
<%}else {%>
    <fieldset>
        <div id = "fir">
            가입하신 아이디가 없습니다.
        </div> 
    </fieldset>
    <div id = "sec">
        <a href="/member/registerForm" onclick="resize()">회원가입하러가기</a>
    </div> 
<%}%>


