<%-include("../default/header.ejs")%>
<script>
    registerForm = () => {
        const opt = "width=450, height=300, top=100, left=500"; 
        window.open("/member/registerForm","",opt); 
    } 
    findPwd = () => {
        const opt = "width=300, height=200, top=100, left=500"; 
        window.open("/member/find","",opt); 
    }
</script>

<style>

    #main{margin: auto; width: 50%; border-radius: 10px; height: 50%; border: solid 1px;}
    #id { width: 80%; margin-top: 20%; margin-left: 10%; height: 10%; text-align: center;}
    #pwd { width: 80%; margin-top: 15px; margin-left: 10%;height: 10%; text-align: center;}
    
    .right { width: 70%;  margin: auto; height: 100%;}
    #float{float: right; color: gray; font-size: 13px; margin-right: 10%;}
    .find {cursor: pointer;  text-decoration: none; color: gray; }

    #loginBtn {width: 25%; height: 8%; margin: auto; display: block;}

</style>
    <fieldset id = "main" >
        <form action="/member/login" method="post">
            <div class="right">
                <input type="text" id = "id" name="id" placeholder="아이디"><br>
                <input type="password" id = "pwd" name = "pwd" placeholder="비밀번호"><br>
                <div id = "float">
                    <a class = "find" onclick="findPwd()">아이디 찾기 및 비밀번호 변경</a>&nbsp; 
                    <label class = "find" >| </label>
                    <a class = "find"  onclick="registerForm()">회원가입</a><br>
                </div><br><br>
                <input id = "loginBtn" type="submit" value="로그인">
            </div>    
        </form>
    </fieldset>